!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
